/* some general code for the entire website */
* {
    padding: 0px;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

h1{
    font-weight: 800;
    font-size: 40px;
    font-family: "Poppins", sans-serif;
}


/*the main header that takes up the whole screen */

.header {
    width: 100%;
    height: 80px;
    display: block;
    background-color: #101010;
    position: sticky;
    top: 0;
}


/*where the content for the nav is stored */

.innerheader {
    width: 95%;
    height: 100%;
    display: block;
    margin: 0 auto;
}


/* the container for my name*/

.Name {
    height: 100%;
    display: table;
    float: left;
}


/* the actual logo*/

.Name h1 {
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-weight: 200;
    font-size: 30px;
    font-family: "Poppins", sans-serif;
}


/* getting the Taubes to look Thicc*/

.Name h1 span {
    font-weight: 800;
    font-family: "Poppins", sans-serif;
}


/* styling for the nav bar and its children */

.navigation {
    float: right;
    height: 100%;
}

.navigation li {
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
    font-family: "Poppins", sans-serif;
}

.navigation li a {
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-size: 20px;
    font-family: "Poppins", sans-serif;
    padding-left: 5px;
    padding-right: 5px;
}


/* making the links go as far to the right as possible*/

.navigation a:last-child {
    padding-right: 0;
}


/* just general body stuff*/

body {
    background-color: #203e76;
    width: 100%;
    height: 100vh;
}

/* the a hover, focus and visited effects*/

li:hover {
    background-color: #c4c4c4;
    color: #101010;
}

.navigation li a:visited {
    color: #203e76;
}

.navigation li a:focus {
    background-color: #c4c4c4;
    color: #101010;
}

